*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgb(0, 7, 17) 50%, rgb(0, 1, 2) 50%);
    background-image: url(../img/aprojeto01.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh; 
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #f584ff;
    font-size: 35px;
    font-family: 'Cambria';
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
    text-shadow: 0 0 7px #f584ff;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #f584ff;
    font-size: 15px;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border: 1px solid #6d3772 ;
    margin-top: 13px;
    color: aliceblue;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orchid;
    border: 2px solid;
    margin-top: 13px;
    color: #6d3772;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.2 ease;
    cursor: pointer;
    box-shadow: #f584ff;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
    
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: aliceblue;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Cambria';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background:#f584ff;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

 .content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
 }

 .cn:hover{
    background-color: #ea00ff;
 }

 .content span{
    color: #f584ff;
    font-size: 60px;
 }

 .form{
    width: 250px;
    height: 410px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
 }

 .form h2{
    width: 220px;
    text-align: center;
    color:orchid;
    font-size: 22px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orchid;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #e7c2eb;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
 }

 .form input:focus{
    color: rgb(255, 196, 196);
    font-family: arial;
 }

 .btnn{
    width: 240px;
    height: 40px;
    background: #f584ff;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
 }

.btnn:hover{
    background:#ea00ff;
    color: #6d3772;
}

.btnn a{
    text-decoration: none;
    color: #6d3772;
    font-weight: bold;
}

.form .link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #6d3772;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #f584ff;
}